.carousel{
    width: 100vw;
    height: 100vh;


    .fond{
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .ecran{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(black, 0.3);
        background-blend-mode: screen;

        .logo{
            width: 20%;
            height: auto;
            margin-right: 60%;
            margin-bottom: -30%;
        }
        .text{
            width: 70%;
            height: auto;
            margin-bottom: -10%;
        }
        .btnAll{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .btn1{
                width: 90%;
                height: auto;
            }
            .btn2{
                width: 90%;
                height: auto;
            }
        }
    }
}